#root {
	--text-color: #121c1a;
	--bg-color: #eaf1f0;
	--primary-btn: #2f56b1;
	--accent: #3460c5;
	text-align: center;
	margin-inline: auto;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.App {
	width: 100%;
	margin-inline: auto;
	display: grid;
	color: var(--text-color);
	background-color: var(--bg-color);
	height: 100vh;
}

button {
	font-size: 1.1em;
	background-color: var(--primary-btn);
}

.todo button {
	border: none;
	/* background-color: transparent; */
	margin: 0;
}

input {
	font-size: 1.2em;
	font-family: inherit;
}
span.done {
	color: gray;
	text-decoration: line-through;
}

span {
	color: black;
	padding: 0.2rem;
	margin: 0.234rem;
	font-size: 1.1em;
}

.todo {
	font-size: 1.1em;
	padding: 0.234rem;
	width: 100%;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	background-color: var(--accent);
}

.todo input {
	border: none;
	border-bottom: 1px dashed gray;
	font-size: 1.1em;
}
